<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cosine_短網址產生器</title>
  <link rel="shortcut icon"
    href="https://cdn-icons-png.flaticon.com/512/2435/2435672.png"
    type="image/x-icon" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.1/css/all.min.css" />
  <link rel="stylesheet" href="https://bootswatch.com/5/united/bootstrap.min.css">
  <link rel="stylesheet" href="/stylesheets/global.css"/>
</head>

<body>
  <header>
    <nav class="navbar navbar-dark justify-content-between" style="padding: 8px 16px;
    background-color: #e95420;">
      <a class="navbar-brand" href="/">Cosine_短網址產生器</a>
    </nav>
  </header>

  <main>
    <div class="container mt-5 px-md-5">
      <div class="row ">
        <h1 class="text-center mb-5">嗷嗷😚，變短了呢！</h1>
        <div class="text-center">
          <img src="https://assets-lighthouse.alphacamp.co/uploads/image/file/16716/ExportedContentImage_00.png" class="url-image" alt="url-image">
        </div>

        {{{ body }}}

      </div>
    </div>
  </main>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
</body>
</html>